<div class="container">
    <!-- Columna para el gráfico circular -->
    <div class="column-circular">
        <div class="chart-container">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [type]="'doughnut'"
                    [options]="doughnutChartOptions">
            </canvas>
        </div>
    </div>

    <!-- Columna para el gráfico de barras -->
    <div class="column-bar">
        <div class="chart-container">
            <canvas baseChart
                    [data]="barChartData"
                    [type]="'bar'"
                    [options]="chartOptions">
            </canvas>
        </div>
    </div>
</div>