<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->

<app-top-bar></app-top-bar>
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-6">
      <app-product-reserv></app-product-reserv>
    </div>
    <div class="col-xs-6">
      <app-product-list></app-product-list>
    </div>
  </div>
</div> -->
<app-panel></app-panel>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
