body {
  background-color: rgba(245, 222, 179, 0.76); /* Color de fondo deseado para toda la página */
  /* Otros estilos si es necesario */
}
.btn-auto {
  padding: 0.375rem 0.75rem; /* Puedes ajustar estos valores según sea necesario */
  font-size: inherit;
  line-height: normal;
  width:90px;
  height:60px
}

.btn-group label.active {
  background-color: #9f3e81;
  color: #fff;
}

.btn-group label:not(.active) {
  background-color: rgba(108, 117, 125, 0.45);
  color: #fff;
}
/* Ocultar el círculo del radio */
.btn-group .radio-hidden {
  display: none;
}
/*<ngx-datatable class="material">*/
/*@import '~@swimlane/ngx-datatable/index.css';*/
/*@import '~@swimlane/ngx-datatable/themes/material.scss';*/
/*@import '~@swimlane/ngx-datatable/assets/icons.css';*/
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
@import 'node_modules/@swimlane/ngx-datatable/themes/bootstrap.scss';
@import 'node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import 'node_modules/@swimlane/ngx-datatable/index.css';
@import 'node_modules/@swimlane/ngx-datatable/assets/icons.css';
