<div class="container">
  <div class="row">
    <!-- Selector -->
    <div class="col-xs-6">
      <div class="margin">
        <input
          type="text"
          placeholder="Teléfono/DNI"
          class="form-control"
          [(ngModel)]="telef"
        />
        <table class="table center">
          <thead>
            <tr>
              <th scope="col" class="center" colspan="2">Grande</th>
              <th scope="col" class="center" colspan="2">Pequeño</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><button (click)="addRoscon(Type.GR_NATA)">Nata</button></td>
              <td>
                <button (click)="addRoscon(Type.GR_SIN)">Sin relleno</button>
              </td>
              <td><button (click)="addRoscon(Type.PEQ_NATA)">Nata</button></td>
              <td>
                <button (click)="addRoscon(Type.PEQ_SIN)">Sin relleno</button>
              </td>
            </tr>
          </tbody>
        </table>
        <h3>Añadir roscón especial</h3>
        <form #sizeForm="ngForm" (ngSubmit)="newSpecial(sizeForm)">
          <div class="container">
            <div class="row">
              <div class="row-xs-4">
                <label>Tamaño</label>
                <div *ngFor="let size of sizeValues">
                  <label>{{ size }}</label>
                  <input
                    type="radio"
                    name="special-size"
                    [value]="size"
                    [(ngModel)]="specialSize"
                  />
                </div>

                <br />
                <div>
                  <table class="table-responsive-md center">
                    <thead></thead>
                    <tbody>
                      <tr>
                        <td>
                          <div>
                            <label for="speciall-ins">Relleno</label>

                            <select
                              [(ngModel)]="especialIns"
                              name="special-ins"
                              id="special-ins"
                            >
                              <option
                                *ngFor="let fill of fillValues"
                                [value]="fill"
                              >
                                {{ fill }}
                              </option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <button
                            class="btn btn-primary"
                            (click)="half()"
                            id="plu"
                          >
                            <i class="material-icons black">{{ symbol }}</i>
                          </button>
                        </td>
                        <td>
                          <div *ngIf="plus; else nop">
                            <label for="speciall-ins-2">Mitad</label>
                            <select
                              [(ngModel)]="especialIns2"
                              name="special-ins2"
                              id="special-ins2"
                            >
                              <option
                                *ngFor="let fill of fillValues"
                                [value]="fill"
                              >
                                {{ fill }}
                              </option>
                            </select>
                          </div>
                          <ng-template #nop></ng-template>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-4">
                <br />
                <br />
                <button (click)="addRoscon(Type.ESP)" class="btn btn-primary">
                  Añadir especial
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Carrito -->
    <div class="col-xs-6">
      <div class="margin">
        <h2>LISTA PEDIDO</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Añadir</th>
              <th scope="col">Quitar</th>
            </tr>
          </thead>
          <tbody *ngIf="prods.length > 0">
            <tr *ngFor="let product of prods; let i = index">
              <td scope="row">{{ product.type }}
                <div *ngIf=" product.especial != null && product.type === Type.ESP">
                  <ul>
                    <li><b>Tamaño:</b> {{ product.especial.size }}</li>
                  
                    <li *ngIf="product.especial.half == null; else elseBlock">
                      Relleno: {{ product.especial.fill }}
                    </li>
                    <ng-template #elseBlock>
                      <li>
                        Mitad: {{ product.especial.fill }}
                      </li>
                      <li>
                        Mitad: {{ product.especial.half }}
                      </li>
                    </ng-template>

                  </ul>
                </div>
                

              </td>
              <td>{{ product.quantity }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-link"
                  (click)="increaseQuantity(i)"
                >
                  <i class="material-icons black">add</i>
                </button>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-link"
                  (click)="decreaseQuantity(i)"
                >
                  <i class="material-icons black">remove</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <p class="total">Total: {{ total }}</p>

        <button class="btn btn-primary save" (click)="send()">Enviar</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Pedido realizado</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closePopup()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyleError }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="closePopupError()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <label id="example-radio-group-label">Pick your favorite season</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoriteSeason">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div>Your favorite season is: {{favoriteSeason}}</div> -->
